body {
  text-align: center;
  padding: 25px 0;
}
body,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
label {
  display: none;
}
p {
  font-size: 18px;
  color: #333;
  margin: 15px 0 25px;
}
input {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #ddd;
  line-height: 24px;
  vertical-align: top;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input[type="email"] {
  width: 100%;
  max-width: 250px;
}
input[type="submit"],
a.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  background: #3a7df8;
  border-color: #3a7df8;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
h1 {
  padding: 0 25px;
}
h1 img {
  max-width: 300px;
}
footer {
  margin-top: 2rem;
  font-size: 13px;
  color: #888;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  text-decoration: underline;
}
